<div class="card border-dark ">
  <div class="card-body text-dark">

    <div class="card-header"><b>Categories</b></div>

    <div *ngIf = "categories.length == 0" class="d-flex justify-content-center mt-3">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


    <h3  *ngFor = "let category of categories">
      <strong>
        <!--/category/asp.net/2 gibi-->
        <a class="btn btn-link" [routerLink] = "['/category',category.name | urlFormat,category.id,'pages','1']" >
         <i class="fa fa-arrow-circle-right"></i>&nbsp;{{category.name}}
        </a>

      </strong>
    </h3>


  </div>
</div>
